In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("D:/dat1/pychurn.csv",sep=',')
df.head(2)

,Unnamed: 0,account.length,international.plan,voice.mail.plan,number.vmail.messages,total.day.minutes,total.day.calls,total.day.charge,total.eve.minutes,total.eve.calls,total.eve.charge,total.night.minutes,total.night.calls,total.night.charge,total.intl.minutes,total.intl.calls,total.intl.charge,number.customer.service.calls,churn
0,1,128,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False.
1,2,107,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.

In [4]:
df['churn'].value_counts()

 False.    1603
 True.      237
Name: churn, dtype: int64

In [5]:
237/float(1603) * 100

14.784778540237056

In [7]:
df_2 = df.select_dtypes(include = [object])
df_2.head(2)

  international.plan voice.mail.plan    churn
0                 no             yes   False.
1                 no             yes   False.

In [10]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_3 = df_2.apply(le.fit_transform)
df_3.head(5)

   international.plan  voice.mail.plan  churn
0                   0                1      0
1                   0                1      0
2                   0                0      0
3                   1                0      0
4                   1                0      0

In [11]:
cols = df_3.columns
for x in cols:
    df[x] = df_3[x]
df.head(5)

,Unnamed: 0,account.length,international.plan,voice.mail.plan,number.vmail.messages,total.day.minutes,total.day.calls,total.day.charge,total.eve.minutes,total.eve.calls,total.eve.charge,total.night.minutes,total.night.calls,total.night.charge,total.intl.minutes,total.intl.calls,total.intl.charge,number.customer.service.calls,churn
0,1,128,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,2,107,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,3,137,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,4,84,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,5,75,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [12]:
x = df.drop(columns = ['churn'], axis=1,inplace=False)
y = df['churn']

In [13]:
from sklearn.model_selection import train_test_split
inpfeat_train,inpfeat_test,label_train,label_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(inpfeat_train,label_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
logit_score_train = log.score(inpfeat_train,label_train)
print ('Model Score on Training data set', logit_score_train)

('Model Score on Training data set', 0.87432065217391308)

In [16]:
logit_score_test = log.score(inpfeat_test,label_test)
print ('Model Score on Training data set', logit_score_test)

('Model Score on Training data set', 0.88315217391304346)

In [17]:
from sklearn.metrics import roc_auc_score
logit_auc_train = roc_auc_score(label_train,log.predict(inpfeat_train))
logit_auc_test = roc_auc_score(label_test,log.predict(inpfeat_test))
print ('Auc on  Training data set', ',',logit_auc_train)
print ('Auc on  Test data set', logit_auc_test)

('Auc on  Training data set', 0.56909222336003851)
('Auc on  Test data set', 0.56069237510955294)

In [19]:
from sklearn.metrics import confusion_matrix
print confusion_matrix(label_test,log.predict(inpfeat_test))

[[319   7]
 [ 36   6]]

In [20]:
from sklearn.feature_selection import RFE
rfe = RFE(log,8)
print rfe

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
  n_features_to_select=8, step=1, verbose=0)